.info__portrait {
   width: calc(var(--index) * 10);
   height: calc(var(--index) * 15);
   max-width: 180px;
   max-height: 270px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   -ms-grid-row: 1;
   grid-row-start: 1;
   -ms-grid-row-span: 2;
   grid-row-end: 3;
   -ms-grid-column: 2;
   grid-column-start: 2;
   -ms-grid-column-span: 0;
   grid-column-end: 2;
   align-self: flex-start;
   -webkit-box-shadow: var(--shadow);
   box-shadow: var(--shadow);
   border-radius: 4px;
}