.main__scroll-image {
   /**
   background-image: url(../../../images/icons/scroll.png);
   background-size: contain;
   border-radius: 50%;
   **/
   width: 40px;
   height: 40px;
   cursor: col-resize;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translateX(-20px);
   z-index: 3;
   color: #000000;
}