.menu__subtitle-container {
   list-style-type: none;
   padding: 0;
   display: none;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   position: absolute;
   top: 30px;
   margin-top: 10px;
   width: 200px;
}

.menu__subtitle-container_active {
   display: flex;
   left: -210px;
   right: unset;
}


@media screen and (min-width: 768px) {
   .menu__subtitle-container_active {
      right: -50%;
      left: unset;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 400px;
      border-left: 0.5px solid #9d9c9c;
      border-right: 0.5px solid #9d9c9c;
   }
}