.tree {
   position: absolute;
   top: 55px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: max-content;
   height: max-content;
   min-width: calc(var(--index) * 80);
   min-height: calc(var(--index) * 120);
}