.main__people {
   position: absolute;
   bottom: calc(var(--index) * 3);
   height: calc(var(--index) * 7);
   left: calc(var(--index) * 7);
   width: calc(var(--index) * 25);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0.8;
   background-image: url(../../../images/index/People_1613.png);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

@media screen and (min-width: 1268px) {
   .main__people {
      left: calc(var(--index) * 27);
   }
}