.events-line {
   position: absolute;
   top: 65px;
   right: 0;
   margin-left: calc(var(--index) * 1);
   width: calc(100% - 100px - 100px);
   background-color: var(--color-background);
   color: var(--color-main);
   font-family: var(--font);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   gap: calc(var(--index) * 0.5);
   font-size: 14px;
   transition: all 1s ease;
   transform: translateX(0);
   opacity: 1;
}

@media screen and (min-width: 768px) {
   .events-line {
      width: calc(100% - 100px - 200px);
      font-size: 16px;
   }
}

@media screen and (min-width: 1024px) {
   .events-line {
      width: calc(100% - 100px - 600px);
   }
}

.events-line_display_gallery{
   transform: translateX(100%);
   opacity: 0;
}

.events-line_display_message{
   transform: translateX(0);
   opacity: 1;
   width: calc(100% - 100px);
}