.main__map {
   width: calc(var(--index) * 18);
   height: calc(var(--index) * 12);
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   left: calc(var(--index) * 5);
   bottom: calc(var(--index) * 12);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   opacity: 0.8;
}

@media screen and (min-width: 768px) {
   .main__map {
      left: calc(var(--index) * 22);
   }
}


.main__map_1917 {
   background-image: url(../../../images/index/map_1917.png);
}

.main__map_1613 {
   background-image: url(../../../images/index/map_1613.png);
}

.main__map-description {
   text-align: center;
   font-size: calc(var(--index) * 0.9);
   display: block;
   width: calc(var(--index) * 15);
   margin: calc(var(--index) * 2.5) 0 0 -25px;
   opacity: 0.8;
}