.main__overflow_gold {
   width: 100%;
   background: url(../../../images/index/romanov_family.jpeg);
   background-size: cover;
   background-position: center;
   color: #000000;
   border-color: #000000;
   z-index: 1;
}