.events-line__item {
   background-color: var(--color-background-lighten);
   margin: 0 calc(var(--index) * 1);
   padding: 2px;
   display: flex;
   flex-direction: column;
   gap: 2px;
   width: fit-content;
   max-width: 95%;
   border: 0.5px solid var(--color-main);
   border-radius: 5px;
   box-shadow: var(--shadow);
   transition: all 0.5s ease-in-out;
   animation-name: event_exist;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   position: relative;
}

.events-line__item_active {
   box-shadow: 0 0 30px #1e9bff;
   border: 0.5px solid #1e9bff;
}


@-webkit-keyframes event_exist {
   from {
      opacity: 0;
      -webkit-transform: translate(100%, 0);
      transform: translate(100%, 0);
   }
   to {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
   }
}


@keyframes event_exist {
   from {
      opacity: 0;
      -webkit-transform: translate(100%, 0);
      transform: translate(100%, 0);
   }
   to {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
   }
}

@media screen and (min-width: 768px) {
   .events-line__item {
      max-width: 80%;
   }
   .events-line__item:hover {
      -webkit-box-shadow: 0 0 30px #1e9bff;
      box-shadow: 0 0 30px #1e9bff;
      border: 0.5px solid #1e9bff
   }
}

.education::before,
.economy::before,
.war::before,
.people::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   border-radius: 5px;
   border: 7px solid transparent;
}
.education::before {
   border-top: 7px solid #828947;
   border-right: 7px solid #828947;
}
.economy::before{
   border-top: 7px solid #ffb81e;
   border-right: 7px solid #ffb81e;
}

.war::before{
   border-top: 7px solid #c9626c;
   border-right: 7px solid #c9626c;
}

.people::before{
   border-top: 7px solid #80bada;
   border-right: 7px solid #80bada;
}

.events-line__item_hidden{
   display: none;
}