.dinamic {
   transition: all 0.5s ease;
}

.info {
   width: 100vw;
   z-index: 1;
   background-color: var(--color-background);
   box-shadow: 0 0 130px 130px var(--color-background);
}

.info__years {
   margin: 0 0 10px;
   font-size: 16px;
}


.info__character {
   margin: 0 0 10px;
}

.info__quote {
   margin: 10px 0 0 30px;
   position: relative;
   text-align: justify;
}

.info__quote::before {
   content: ",,";
   transform: rotate(180deg);
   font-size: 50px;
   font-weight: bold;
   position: absolute;
   left: -35px;
   top: 0;
}


.info__family {
   grid-row-start: 3;
   grid-column-start: 1;
}

@media screen and (min-width: 1224px) {
   .info__family {
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 2;
   }
}


.section__title {
   font-size: 24px;
   margin: 10px 0;
   z-index: 15;
}

.info__family-description {
   text-align: justify;
   font-size: 16px;
}

.info-relatives {
   padding: 0;
   list-style-type: none;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: calc(var(--index) * 4);
   row-gap: calc(var(--index) * 2);
   margin-bottom: 30px;
   position: relative;
}


.info_person-container {
   padding: 0;
   margin: 0;
   width: fit-content;
   height: fit-content;
   transition: 0.5s;
}

.info_person-container_active {
   width: 100%;
   transition: 0s;
}

@media screen and (min-width: 768px) {
   .info_person-container_active {
      width: calc(50% - (var(--index) * 2));
   }
}

.info__person {
   background-color: transparent;
   backdrop-filter: blur(5px);
   border-radius: 50%;
   box-shadow: 5px 4px 20px -5px #000000,
      inset -2px -2px 20px -3px var(--color-gradient);

   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-transition: 1s;
   -o-transition: 1s;
   transition: 1s;
   -webkit-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   transition-delay: 0.5s;
   cursor: pointer;
}

.info__consort {
   width: 150px;
   height: 150px;
   min-height: 150px;
}

.info__child {
   width: 120px;
   height: 120px;
   min-height: 120px;
}

.info__person_active {
   width: 100%;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   border-radius: 10px;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -webkit-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: activation 1s ease-in-out;
   animation: activation 1s ease-in-out;
}

@-webkit-keyframes activation {
   0% {
      height: 150px;
   }

   40% {
      height: 130px;

   }

   100% {
      height: -webkit-fit-content;
      height: fit-content;
   }
}

@keyframes activation {
   0% {
      height: 150px;
   }

   40% {
      height: 130px;

   }

   100% {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
   }
}

.info__relative-name {
   font-size: 16px;
   text-align: center;
   margin: 5px 4px;
   font-weight: 400;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   -webkit-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s;
}

.info__relative-name_active {
   text-align: start;
   font-weight: 900;
   -webkit-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   transition-delay: 0.5s;
   -webkit-animation: activationText 1s ease-in-out;
   animation: activationText 1s ease-in-out;
}


.info__relative-description {
   display: none;
   font-size: 14px;
   margin: 4px 20px 4px 4px;
   padding: 0;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   -webkit-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s;
   opacity: 0;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
}

.info__relative-description_active {
   display: inline;
   opacity: 1;
   -webkit-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   transition-delay: 0.5s;
   -webkit-animation: activationText 1s ease-in-out;
   animation: activationText 1s ease-in-out;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

@-webkit-keyframes activationText {
   0% {
      -webkit-transform: scale(0);
      transform: scale(0);

   }

   50% {
      -webkit-transform: scale(0);
      transform: scale(0);
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@keyframes activationText {
   0% {
      -webkit-transform: scale(0);
      transform: scale(0);

   }

   50% {
      -webkit-transform: scale(0);
      transform: scale(0);
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

.info__relative-photo {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   font-size: 0px;
   position: absolute;
   top: -20px;
   right: -25px;
   color: #000000;
   border: 1px solid var(--color-main);
   background-color: var(--color-gradient);
   background-size: cover;
   background-position: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   -webkit-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   background-image: url('../../images/Alex_1/Elisabeth_Alexeievna.jpeg');
}

.info__relative-photo_active {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   top: -60px;
   right: -20px;
   font-size: 40px;
   -webkit-transition-delay: 1s;
   -o-transition-delay: 1s;
   transition-delay: 1s;
}

@media screen and (min-width: 768px) {
   .info__relative-photo_active {
      top: -50px;
      right: -50px;
   }
}











.achievement {
   z-index: 2;
   padding: 0 calc(var(--index) * 2);
}

.achievement__direction {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.achievement__title {
   font-style: italic;
   font-weight: 700;
   text-decoration: underline;
}

.achievement__picture {
   width: 100%;
   margin: 0;
   object-fit: contain;
   box-shadow: var(--shadow);
}

.achievement__text {
   font-size: 16px;
   margin: 20px 0;
   text-align: justify;
}

.achievement_span {
   text-decoration: underline;
   font-style: italic;
}

@media screen and (min-width: 1224px) {
   .achievement__container {
      display: -ms-grid;
      display: grid;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
      column-gap: 30px;
      -ms-grid-columns: 1fr 30px 40%;
      grid-template-columns: 1fr 40%;
   }

   .achievement__text {
      -ms-grid-column: 1;
      grid-column-start: 1;
      margin: 10px 0;
      padding: 5px;
      border-radius: 5px;
      background-color: transparent;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      -webkit-box-shadow: var(--shadow);
      box-shadow: var(--shadow);
   }

   .achievement__picture {
      -ms-grid-column: 2;
      grid-column-start: 2;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 4;
      grid-row-end: 5;
      margin-top: 20px;
   }
}


.literature {
   background: linear-gradient(180deg, var(--color-background), rgba(184, 134, 11, 1) 40%);
   padding: 80px calc(var(--index) * 2);
   margin: 0;
   color: var(--color-main);
   position: relative;
   text-align: center;
}

.literature__container {
   list-style-type: none;
   margin: 0;
   padding: 30px 0 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.literature__item {
   width: 100%;
   height: fit-content;
   
   border-radius: 10px;
   overflow: hidden;
   background-color: #f2f2f2;
   -webkit-box-shadow: 0px 0px 10px 0px #000000;
   box-shadow: 0px 0px 10px 0px #000000;
}
@media screen and (min-width: 768px) {
   .literature__container {
      justify-content: space-between;
   }
   .literature__item{
      width: 350px;
      height: 150px;
   }
}
.literature__link {
   width: 100%;
   height: 100%;
   text-decoration: none;
}

.literature__picture {
   background-size: 90px;
   width: 100%;
   height: 60px;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #000000;
}

.literature__description {
   margin: 5px;
   font-size: 16px;
   color: #000000;
   text-align: justify;
   line-height: 1.25;
}

.literature__type {
   font-size: 14px;
   padding: 3px;
   border-radius: 10px;
}