.settings-line__label {
   position: relative;
}

.settings-line__radio-input,
.settings-line__radio-input-2,
.settings-line__radio-input-3,
.settings-line__radio-input-4,
.settings-line__radio-input-5 {
   appearance: none;
}

.settings-line__radio-input:checked::before,
.settings-line__radio-input-2:checked::before,
.settings-line__radio-input-3:checked::before,
.settings-line__radio-input-4:checked::before,
.settings-line__radio-input-5:checked::before {
   content: '';
   position: absolute;
   top: 20%;
   left: 15px;
   width: 15px;
   height: 15px;
   z-index: -1;
   transition: all 1s ease-in-out;
   border-radius: 5px;
   background-color: #789cba;
   box-shadow: 0 0 15px #5bb4fc,
      0 0 30px #5bb4fc,
      0 0 45px #5bb4fc,
      0 0 60px #5bb4fc;
}

.settings-line__radio-input-2:checked::before {
   background-color: #828947;
   box-shadow: 0 0 15px #828947,
      0 0 30px #828947,
      0 0 45px #828947,
      0 0 60px #828947;
}

.settings-line__radio-input-3:checked::before {
   background-color: #edb02a;
   box-shadow: 0 0 15px #ffb81e,
      0 0 30px #ffb81e,
      0 0 45px #ffb81e,
      0 0 60px #ffb81e;
}

.settings-line__radio-input-4:checked::before {
   background-color: #ca7981;
   box-shadow: 0 0 15px #c9626c,
      0 0 30px #c9626c,
      0 0 45px #c9626c,
      0 0 60px #c9626c;
}

.settings-line__radio-input-5:checked::before {
   background-color: #80bada;
   box-shadow: 0 0 15px #80bada,
      0 0 30px #80bada,
      0 0 45px #80bada,
      0 0 60px #80bada;
}