.settings-line__label {
   position: relative;
}

.settings-line__radio-input,
.settings-line__radio-input-2,
.settings-line__radio-input-3,
.settings-line__radio-input-4,
.settings-line__radio-input-5 {
   appearance: none;
}

.settings-line__radio-input:checked::before,
.settings-line__radio-input-2:checked::before,
.settings-line__radio-input-3:checked::before,
.settings-line__radio-input-4:checked::before,
.settings-line__radio-input-5:checked::before {
   content: '';
   position: absolute;
   top: 20%;
   left: 15px;
   width: 15px;
   height: 15px;
   z-index: -1;
   transition: all 1s ease-in-out;
   border-radius: 5px;
   background-color: #1e9bff;
   box-shadow: 0 0 15px #1e9bff,
      0 0 30px #1e9bff,
      0 0 45px #1e9bff,
      0 0 60px #1e9bff;
}

.settings-line__radio-input-2:checked::before {
   background-color: #8efbad;
   box-shadow: 0 0 15px #1eff5e,
      0 0 30px #1eff5e,
      0 0 45px #1eff5e,
      0 0 60px #1eff5e;
}

.settings-line__radio-input-3:checked::before {
   background-color: #fad675;
   box-shadow: 0 0 15px #ffc31e,
      0 0 30px #ffc31e,
      0 0 45px #ffc31e,
      0 0 60px #ffc31e;
}

.settings-line__radio-input-4:checked::before {
   background-color: #f48f99;
   box-shadow: 0 0 15px #ff1e35,
      0 0 30px #ff1e35,
      0 0 45px #ff1e35,
      0 0 60px #ff1e35;
}

.settings-line__radio-input-5:checked::before {
   background-color: #c9c7c7;
   box-shadow: 0 0 15px #c9c7c7,
      0 0 30px #c9c7c7,
      0 0 45px #c9c7c7,
      0 0 60px #c9c7c7;
}