.main__year-counter {
   color: var(--color-main);
   font-size: calc(2.5 * var(--index));
   font-weight: 700;
   margin: 0;
   position: absolute;
   top: calc(10% + (2 * var(--index)));
   left: calc(10% + (14 * var(--index)));
   transition: all 0.5s ease;
}