.info__name {
   margin: -25px 0 0;
   font-size: 35px;
   font-style: italic;
   font-weight: 400;
   transform: translateY(-500px);
   color: #ffffff;
   transition: all 1s ease;
}

.info__name_drop {
   transform: translateY(0px);
   color: var(--color-main);
}