.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: linear-gradient(180deg, var(--color-background) 20%, transparent 130%);
   backdrop-filter: blur(5px);
   box-shadow: 0px -7px 20px var(--color-main);
   width: 100vw;
   height: 55px;
   padding: 0 10px;
   box-sizing: border-box;
   z-index: 10;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: var(--font);
}

.header_hidden {
   visibility: hidden;
}